:root {
  --color-1: #2b88f0;
  --color-2: #8647A3;
  --color-3: #976ADB;
  --color-4: #5B67DB;
  --color-5: #9A66D9;
  --color-6: #685BE9;
  --color-7: #5754ECB3;
  --nav-color: #ff7979;
}


body {
  background-color: var(--nav-color);
}

a {
  font-size: 30px;
}

ul {
  list-style-type: none;
  line-height: 300%;
}

a:visited {
  color: #0000EE;
}